#view-crawl-conatiner {
	display: grid;

	grid-template-columns: 1fr 1fr 1fr 1fr 600px;
	grid-template-rows: 7rem 26rem;

	grid-template-areas:
		"number image time instance log"
		"visited visited queue queue log"
		"product product product product product"
	;

}

#number-panel {
	grid-area: number;
}

#time-panel {
	grid-area: time;
}

#visited-panel {
	grid-area: visited;
}

#queue-panel {
	grid-area: queue;
}

#log-panel {
	grid-area: log;
}

#image-panel {
	grid-area: image;
}

#instance-panel {
	grid-area: instance;
}

#product-panel {
	grid-area: product;
}
